<div class="container">
  <hr/>

  <footer class="footer" style="text-align:center;">
    <div class="row">
      <div class="col-sm">
        <ul class="list-inline">
          {% assign pages = site.pages | where: "is_footer", true | sort: 'position' %}
          {% for page in pages %}
          <li class="list-inline-item" style="padding: 8px;">
            <a href="{{ page.url | relative_url }}">{{ page.title }}</a>
          </li>
          {% endfor %}

          <li class="list-inline-item" style="padding: 8px;">
            <a href="{{ site.current_work.url }}" target="_blank">Current Work</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <ul class="list-inline">
          {% for item in site.data.socials %}
          <li class="list-inline-item" style="padding: 8px;">
            <a href={{ item.url | append: item.username | escape }} target="_blank">
              <i class="fa {{ item.fa_icon }} fa-lg"></i>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </footer>
</div>
