---
layout: default
---

{% include header.html %}

<div class="container">

	{{ content }}

	<p>
    {% if page.call_to_action.url %}
      {% if page.call_to_action.url contains "http" %}
        {% assign button_target = "_blank" %}
      {% else %}
        {% assign button_target = "_self" %}
      {% endif %}
      <a href="{{ page.call_to_action.url | escape }}" class="button" target={{ button_target }}>{{ page.call_to_action.title }}</a>
    {% endif %}
  </p>
</div>

{% include footer.html %}
