---
layout: default
---

<div class="page-content">

	{% if page.display_title %}
		<h1 class="page-title"> {{ page.display_title }} </h1>
	{% else %}
		<h1 class="page-title"> {{ page.title }} </h1>
	{% endif %}

	{{ content }}

	<br>
	<br>

	{% if page.action_button.link %}
		{% if page.action_button.link contains "http" %}
			{% assign button_target = "_blank" %}
		{% else %}
			{% assign button_target = "_self" %}
		{% endif %}
		<a href="{{ page.action_button.link | escape }}" class="button" target={{ button_target }}>{{ page.action_button.title }}</a>
	{% endif %}
</div>