---
layout: default
---

{% include header.html %}

<div class="container">

  <h1>Skills</h1>

  <ul>
    {% for skill in page.skills %}
    {% assign values = skill.values | map: 'skill' %}

    <li>
      <strong>{{ skill.type }}:</strong> {{ values | join: ', ' }}
    </li>
    {% endfor %}
  </ul>

  <h1>Experience</h1>

  <ul>
    {% assign current = site.time | date: "%Y" %}
    
    {% for experience in page.experience %}
    {% assign start = experience.start_date | date: "%Y" %}
    <li>
      <strong>{{ current | minus: start }}+ years:</strong> {{ experience.type }}
    </li>
    {% endfor %}
  </ul>

  <h1>References</h1>
  
  <p>Available upon request</p>

  {{ content }}

	<p>
    {% if page.action_button.link %}
      {% if page.action_button.link contains "http" %}
        {% assign button_target = "_blank" %}
      {% else %}
        {% assign button_target = "_self" %}
      {% endif %}
      <a href="{{ page.action_button.link | escape }}" class="button" target={{ button_target }}>{{ page.action_button.title }}</a>
    {% endif %}
  </p>
</div>

{% include footer.html %}
